@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Title"];
    ViewData["Home"] = Localizer["Home"];
    ViewData["About"] = Localizer["About"];
    ViewData["Files"] = Localizer["Files"];
    ViewData["Shop"] = Localizer["Shop"];
    ViewData["AllProducts"] = Localizer["AllProducts"];
    ViewData["PopularItems"] = Localizer["PopularItems"];
    ViewData["NewArrivals"] = Localizer["NewArrivals"];
    ViewData["Cart"] = Localizer["Cart"];
}

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!">@ViewData["Title"]</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">@ViewData["Home"]</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">@ViewData["About"]</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="File" asp-action="Index">@ViewData["Files"]</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">@ViewData["Shop"]</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">@ViewData["AllProducts"]</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">@ViewData["PopularItems"]</a></li>
                        <li><a class="dropdown-item" href="#!">@ViewData["NewArrivals"]</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    @await Html.PartialAsync("_LanguagePartial")
                </li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    @ViewData["Cart"]
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>
            </form>
        </div>
    </div>
</nav>
